.nav {
    margin-bottom: 40px;
}

.navlist {
    display: flex;
}

.item_link {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #434343;
    padding: 10px 20px;
    transition: 0.3s ease-in-out;
}

.item_link img {
    width: 20px;
    height: 20px;
}

.item_link:hover {
    border-bottom: 1px solid #fff;
}

@media (max-width: 480px) {
    .navlist {
        flex-direction: column;
    }
}
