.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox input {
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: white;
    width: 1em;
    height: 1em;
    border: 0.15em solid #807f7f;
    border-radius: 0.2em;
    transition: all 0.1s ease-in;
}

.checkbox input:checked {
    border: 0.15em solid #fff;
    background: url('../../../assets/check.png') center center no-repeat;
    background-size: cover;
}
