.filter_list {
    display: flex;
    flex-direction: column;
}

.filter_item {
    display: flex;
    flex-direction: column;
}

.filter_title {
    padding-bottom: 10px;
    border-bottom: 1px solid #807f7f8f;
}

.checkbox_list {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button {
    padding: 8px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

.button:hover {
    transform: scale(1.1);
}

.view_all {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caption {
    display: flex;
    justify-content: center;
    color: #807f7f;
    cursor: pointer;
    align-items: center;
}

.view_all img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
