.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #474544;
    padding: 15px;
    transition: background-color 0.3s ease-in;
}

.scrolled {
    background-color: rgba(3, 3, 3, 0.8);
}
