.nav__list {
    display: flex;
    gap: 15px;
    color: #807f7f;
    align-items: center;
}

.nav__item a {
    transition: all 0.2s ease-in;
}

.nav__item a:hover {
    color: #fff;
}

.ava {
    background-color: #807f7f;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
