.info {
    display: flex;
    align-items: center;
    padding: 100px 20px 30px;
}

.title {
    font-size: 32px;
}

.score {
    padding-left: 25px;
    position: relative;
}
.score::after {
    position: absolute;
    content: '';
    left: 0;
    top: 1px;
    width: 20px;
    height: 20px;
    background-image: url('../../assets/star.png');
    background-size: cover;
}

.img {
    border-radius: 15px;
    margin-right: 40px;
}

.buttons {
    display: flex;
    gap: 15px;
    color: white;
    margin-top: 20px;
}

.icon_btn {
    background-color: #474544;
    color: white;
    position: relative;
    padding: 15px 30px 15px 40px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.icon_btn::after {
    position: absolute;
    content: '';
    top: 12px;
    left: 15px;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.icon_btn:nth-child(1)::after {
    background-image: url('../../assets/eye.png');
}
.icon_btn:nth-child(2)::after {
    background-image: url('../../assets/check.png');
}
.icon_btn:nth-child(3)::after {
    background-image: url('../../assets/bookmark.png');
}
