.preview {
    position: relative;
    overflow: hidden;
}

.preview__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 550px;
    position: relative;
    z-index: 2;
    padding: 0 20px;
}

.preview__content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.preview__title {
    font-weight: 700;
    font-size: 60px;
}

.preview__caption {
    max-width: 350px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.watchBtn {
    background-color: #474544;
    color: white;
    padding-left: 40px;
    position: relative;
}

.watchBtn:after {
    position: absolute;
    content: '';
    top: 9px;
    left: 11px;
    width: 24px;
    height: 24px;
    background-image: url('../../assets/bookmark.png');
}
