.catalog {
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 70px 0 0;
}

.catalog_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.catalog_wrap {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
}

.catalog_cards {
    display: flex;
    flex-direction: column;
}

.catalog_btn {
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    margin: 0 60px;
    transition: transform 0.3s ease-in;
}
.catalog_btn:hover {
    transform: scale(1.03);
}

@media (max-width: 1000px) {
    .catalog {
        padding: 50px 20px 0;
        margin-bottom: 40px;
    }
    .catalog_wrap {
        grid-template-columns: 1fr 4fr;
    }
}
@media (max-width: 880px) {
    .catalog_wrap {
        grid-template-columns: 1fr 3fr;
    }
}
@media (max-width: 710px) {
    .catalog {
        padding: 40px 20px 0;
    }
    .catalog_wrap {
        grid-template-columns: 1fr 2fr;
    }
}
@media (max-width: 645px) {
    .catalog {
        padding: 30px 20px 0;
    }
    .catalog_wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
